<h1>Admin Page</h1>
<div class='card' style='width: 40rem;'>
  <div class="card-body">
    <h5 class="card-title">Link</h5>
    <h6 class="card-subtitle mb-2 text-muted">Page Visits: <%= @short_link.view_count %></h6>
    <p class="card-text">
      Original: <%= link_to @short_link.original_url, @short_link.original_url ,target: "_blank" %>
      <br>
      Short Link: <%= link_to @short_link.short_url ,@short_link.short_url, target: "_blank" %>
    </p>
    <br>
    <strong>Active:</strong>
    <span id='short-link-status'><%= @short_link.active %></span>
    <br>
    <span id='short-link'><%= link_to "#{ @short_link.active ? 'Enabled': 'Disabled'  }", toggle_active_status_admin_short_link_path(@short_link), method: :patch, remote: :true, class: "btn btn-xs btn-#{ @short_link.active ? 'success' : 'warning' }"  %></span>
  </div>
</div>
</p>
<div style='padding-top: 2rem;'>
  <%= link_to 'Back to Admin Index', admin_short_links_path , class: 'btn btn-primary' %>
</div>
